@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Regular.woff2') format('woff2'), url('ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Light.woff2') format('woff2'), url('ProductSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Medium.woff2') format('woff2'), url('ProductSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  min-height: 100% !important;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  font-family: 'Product Sans', sans-serif;
  font-weight: normal;
  background: #1046FF;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  padding: 30px;
}

.header .app-bar {
  display: flex;
}

.header .app-bar .question-order {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: baseline;
}

.app-bar .question-order span.correct {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.app-bar .question-order span.slash,
.app-bar .question-order span.total {
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.5);
}

.header .progress {
  margin-top: 5px;
  height: 3px;
  width: auto;
  background: #fff;
}

.header .progress-border {
  width: auto;
  height: 1px;
  background: rgba(255, 255, 255, 1);
}

.content {
  width: auto;
  font-size: 34px;
  display: flex;
  flex: 1;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.content .word {
  color: #fff;
}

.content .description {
  color: #B3B3B3;
  font-weight: 300;
}

.footer {
  display: flex;
}

.footer .answers {
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .answers .answer {
  display: flex;
  align-items: center;
  margin: 5px;
  height: 50px;
  width: auto;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.0);
  font-size: 12px;
  color: #fff;
}

.footer .answers .answer:hover {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.footer .answers .answer:active {
  border: 0.5px solid rgba(255, 255, 255, 0.08);
}

.answers .answer span.option-letter {
  margin-left: 30px;
  opacity: .65;
}

.answers .answer span.text {
  margin-left: 30px;
  font-weight: 500;
}

.click-animation {
  animation: ripple .5s normal;
}

@keyframes ripple {
  100% {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin: 5px;
  }
  50% {
    color: #1046FF;
    background: #FFFFFF;
    margin: 10px;
  }
}

.slide-animation {
  animation: slide 1.4s normal;
}

@keyframes slide {
  100% {
    opacity: 1;
    transform: translate(0%);
  }
  61% {
    opacity: 0;
    transform: translate(10%);
  }
  51% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(-30%);
  }
}